
<h2 class="head">Employee Management System</h2><br><br>
    <div class="row justify-content-between">
    <div class=col-2>
        <app-chlid (data)="save($event)"></app-chlid>
    </div>
    <div class=col-8>
        <h3 class="h3center">Employee Details</h3>  <br><br>
        <div *ngFor="let i of info ">
            <div *ngIf="i.id==id">
                <div class="row  bg">
                    <div class="col-8">
                        <h4>Employee Name:{{i.name }}</h4>
                        <h5>Employee Id:{{id}}</h5>
                        <h5>Designation:{{i.Position}}</h5>
                        <h5>Date of Birth:{{i.DOB}}</h5>
                        <h5>Gender:{{i.gender}}</h5>
                        <h5>Date of joining:{{i.joiningDate}}</h5>
                        <h5>Location:{{i.location}}</h5>
                        </div>
                        <div class="col-4">    
                            <img  src={{i.imageURL}}>
                        </div>
                </div><br>
              <!--  <button class="btn btn-primary"(click)="prev()" [disabled]=pStatus>Previous</button>&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="next()">Next</button>-->
            </div>
        </div>
        
    </div>
</div>